.sobre-nosotros {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sobre-nosotros h2, .sobre-nosotros h3 {
    color: #1531B0; /* Color primario */
  }
  
  .sobre-nosotros p {
    color: #333;
    line-height: 1.6;
  }
  
  .sobre-nosotros ul {
    list-style-type: square;
    padding-left: 1.5rem;
  }
  