h1 {
    color: #1531B0; /* Color Primario */
  }
  
  p {
    color: #849CA4; /* Color Secundario */
  }
  
  button {
    background-color: #009975; /* Color de acento */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #DD9149; /* Acento Naranja */
  }
  